In [12]:
class wow_parser:
    def parse_logs(self,root_dir,output_file):
        import numpy as np
        import os
        import re
        strings = []   
        for root, subdirs, files in os.walk(root_dir):
            for filename in files:
                if filename.endswith(".txt"):
                    file_path = os.path.join(root, filename)
                    with open(file_path) as f:
                        for line in f:
                            if "/" in line:
                                strings.extend(re.findall(r'"(.*?)"', line, re.DOTALL))
        thefile = open(output_file, 'w')
        for item in strings:
            thefile.write("%s\n" % item)

In [13]:
parse = wow_parser()

In [14]:
dirpath = "H:\WoWAH"
outputpath = "H:\Output\wowlogs.csv"
parse.parse_logs(root_dir = dirpath, output_file = outputpath)

In [16]:
import pandas as pd

In [18]:
df = pd.read_csv("H:\Output\wowlogs.csv")

In [20]:
df.count()

0                     41063254
 12/31/05 23:59:46    41063254
 1                    41063254
0.1                   41063254
                      41063254
 5                    41063254
 Orc                  41063254
 Warrior              41063254
 Durotar              41063254
 no                   41063254
 0                    41063254
dtype: int64

In [22]:
df.tail(5)

,0,12/31/05 23:59:46,1,0.1,,5,Orc,Warrior,Durotar,no,0
41063249,0,01/10/09 05:08:48,56,36893,104,80,Blood Elf,Mage,Dalaran,MAGE,0
41063250,0,01/10/09 05:08:48,56,39532,204,80,Blood Elf,Mage,The Storm Peaks,MAGE,0
41063251,0,01/10/09 05:08:59,58,90033,502,80,Blood Elf,Death Knight,Sholazar Basin,DEATHKNIGHT,0
41063252,0,01/10/09 05:08:59,58,87974,251,80,Blood Elf,Death Knight,Blade's Edge Mountains,DEATHKNIGHT,0
41063253,0,01/10/09 05:08:59,58,86679,459,80,Blood Elf,Death Knight,Shadowmoon Valley,DEATHKNIGHT,0

In [23]:
df.head(5)

,0,12/31/05 23:59:46,1,0.1,,5,Orc,Warrior,Durotar,no,0
0,0,12/31/05 23:59:46,1,1,,9,Orc,Shaman,Durotar,yes,0
1,0,12/31/05 23:59:52,2,2,,13,Orc,Shaman,Durotar,no,0
2,0,12/31/05 23:59:52,2,3,0,14,Orc,Warrior,Durotar,no,0
3,0,12/31/05 23:59:52,2,4,,14,Orc,Shaman,Durotar,yes,0
4,0,12/31/05 23:59:52,2,5,,16,Orc,Hunter,The Barrens,yes,0