In [8]:
import pandas as pd

In [9]:
df2 = pd.read_csv("newlogs.csv", usecols = ['Guild','Level','Race','Class'])

In [10]:
df2 = df2.groupby(['Guild','Level','Race','Class']).size().reset_index()

In [11]:
df2.rename(columns = {0: 'PatternCount'},  inplace=True)

In [12]:
df2.head(5)

  Guild  Level        Race     Class  PatternCount
0            1   Blood Elf    Hunter          3834
1            1   Blood Elf      Mage          6621
2            1   Blood Elf   Paladin         10121
3            1   Blood Elf    Priest          4293
4            1   Blood Elf     Rogue          5787

In [13]:
def addguildflag(x):
    if x== ' ':
        return 0
    else:
        return 1

In [14]:
df2['GuildFlag'] = df2.apply(lambda col: addguildflag(col['Guild']), axis = 1)

In [15]:
def addlevelflag(x):
    if x>=1 and x<=23:
        return 2
    elif x>=24 and x<=47:
        return 3
    else:
        return 4

In [16]:
df2['LevelFlag'] = df2.apply(lambda col: addlevelflag(col['Level']), axis = 1)

In [17]:
def addraceflag(x):
    if x == ' Blood Elf':
        return 5
    elif x == ' Orc':
        return 6
    elif x == ' Tauren':
        return 7
    elif x == ' Troll':
        return 8
    elif x == ' Undead':
        return 9

In [18]:
df2['RaceFlag'] = df2.apply(lambda col: addraceflag(col['Race']), axis = 1)

In [19]:
def addclassflag(x):
    if x in [' Warrior', ' Hunter', ' Rogue', ' Paladin', ' Death Knight']:
        return 10
    elif x in [' Shaman', ' Warlock', ' Druid', ' Mage', ' Priest']:
        return 11

In [20]:
df2['ClassFlag'] = df2.apply(lambda col: addclassflag(col['Class']), axis = 1)

In [60]:
a = df3.PatternCount.quantile(0.33)
b = df3.PatternCount.quantile(0.66)

In [61]:
def addfrequencyflag(x):
    if x>=1 and x<=a:
        return 18
    elif x>a and x<=b:
        return 19
    else:
        return 20

In [62]:
df3 = df2[['GuildFlag','LevelFlag','RaceFlag','ClassFlag','PatternCount']]

In [63]:
df3 = df3.groupby(by = ['GuildFlag','LevelFlag','RaceFlag','ClassFlag'])['PatternCount'].sum().reset_index()

In [64]:
df3['FrequencyFlag'] = df3.apply(lambda col: addfrequencyflag(col['PatternCount']), axis = 1)

In [65]:
df3['PatternID'] = df3.index+1

In [66]:
df3

,GuildFlag,LevelFlag,RaceFlag,ClassFlag,PatternCount,FrequencyFlag,PatternID
0,0,2,5,10,516572,20,1
1,0,2,5,11,484618,20,2
2,0,2,6,10,257647,19,3
3,0,2,6,11,75869,18,4
4,0,2,7,10,217354,19,5
5,0,2,7,11,293998,19,6
6,0,2,8,10,420970,20,7
7,0,2,8,11,166371,18,8
8,0,2,9,10,235052,19,9
9,0,2,9,11,462959,20,10
10,0,3,5,10,241283,19,11
11,0,3,5,11,202881,19,12
12,0,3,6,10,150953,18,13
13,0,3,6,11,39186,18,14
14,0,3,7,10,125439,18,15
15,0,3,7,11,153592,18,16
16,0,3,8,10,146627,18,17
17,0,3,8,11,86288,18,18
18,0,3,9,10,139781,18,19
19,0,3,9,11,277465,19,20
20,0,4,5,10,307457,19,21
21,0,4,5,11,186748,19,22
22,0,4,6,10,277052,19,23
23,0,4,6,11,44243,18,24
24,0,4,7,10,230255,19,25
25,0,4,7,11,191845,19,26
26,0,4,8,10,275237,19,27
27,0,4,8,11,99012,18,28
28,0,4,9,10,208794,19,29
29,0,4,9,11,498612,20,30
30,1,2,5,10,167499,19,31
31,1,2,5,11,161612,18,32
32,1,2,6,10,90062,18,33
33,1,2,6,11,39175,18,34
34,1,2,7,10,93289,18,35
35,1,2,7,11,160886,18,36
36,1,2,8,10,117487,18,37
37,1,2,8,11,101502,18,38
38,1,2,9,10,92919,18,39
39,1,2,9,11,258327,19,40
40,1,3,5,10,561370,20,41
41,1,3,5,11,478231,20,42
42,1,3,6,10,329353,19,43
43,1,3,6,11,94850,18,44
44,1,3,7,10,393696,20,45
45,1,3,7,11,511939,20,46
46,1,3,8,10,390651,20,47
47,1,3,8,11,286514,19,48
48,1,3,9,10,341144,19,49
49,1,3,9,11,948600,20,50
50,1,4,5,10,2419323,20,51
51,1,4,5,11,1954124,20,52
52,1,4,6,10,2622131,20,53
53,1,4,6,11,505046,20,54
54,1,4,7,10,3228458,20,55
55,1,4,7,11,3406757,20,56
56,1,4,8,10,2454484,20,57
57,1,4,8,11,1746608,20,58
58,1,4,9,10,2567756,20,59
59,1,4,9,11,7104811,20,60

In [67]:
df3.dtypes

GuildFlag        int64
LevelFlag        int64
RaceFlag         int64
ClassFlag        int64
PatternCount     int64
FrequencyFlag    int64
PatternID        int64
dtype: object

In [70]:
df3.to_csv("test1.csv", sep=',', encoding='utf-8')