In [2]:
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

In [3]:
df2 = pd.read_csv("newlogs.csv", usecols = ['Guild','Level','Race','Class'])

In [4]:
df2 = df2.head(50000)

In [10]:
#df2 = df2.groupby(['Guild','Level','Race','Class']).size().reset_index()

In [11]:
#df2.rename(columns = {0: 'PatternCount'},  inplace=True)

In [5]:
df2.head(5)

  Guild  Level  Race     Class
0            5   Orc   Warrior
1            9   Orc    Shaman
2           13   Orc    Shaman
3     0     14   Orc   Warrior
4           14   Orc    Shaman

In [6]:
def addguildflag(x):
    if x== ' ':
        return 0
    else:
        return 1

In [7]:
df2['GuildFlag'] = df2.apply(lambda col: addguildflag(col['Guild']), axis = 1)

In [8]:
def addlevelflag(x):
    if x>=1 and x<=23:
        return 2
    elif x>=24 and x<=47:
        return 3
    else:
        return 4

In [9]:
df2['LevelFlag'] = df2.apply(lambda col: addlevelflag(col['Level']), axis = 1)

In [10]:
def addraceflag(x):
    if x == ' Blood Elf':
        return 5
    elif x == ' Orc':
        return 6
    elif x == ' Tauren':
        return 7
    elif x == ' Troll':
        return 8
    elif x == ' Undead':
        return 9

In [11]:
df2['RaceFlag'] = df2.apply(lambda col: addraceflag(col['Race']), axis = 1)

In [12]:
def addclassflag(x):
    if x in [' Warrior', ' Hunter', ' Rogue', ' Paladin', ' Death Knight']:
        return 10
    elif x in [' Shaman', ' Warlock', ' Druid', ' Mage', ' Priest']:
        return 11

In [13]:
df2['ClassFlag'] = df2.apply(lambda col: addclassflag(col['Class']), axis = 1)

In [14]:
df3 = df2[['GuildFlag','LevelFlag','RaceFlag','ClassFlag']]

In [15]:
df4 = df3.groupby(by = ['GuildFlag','LevelFlag','RaceFlag','ClassFlag']).size().reset_index()

In [16]:
df4.rename(columns = {0: 'PatternCount'},  inplace=True)

In [17]:
a = df4.PatternCount.quantile(0.33)
b = df4.PatternCount.quantile(0.66)

In [18]:
def addfrequencyflag(x):
    if x>=1 and x<=a:
        return 18
    elif x>a and x<=b:
        return 19
    else:
        return 20

In [19]:
df4['FrequencyFlag'] = df4.apply(lambda col: addfrequencyflag(col['PatternCount']), axis = 1)

In [20]:
df4['PatternID'] = df4.index+1

In [21]:
df4.head(5)

,GuildFlag,LevelFlag,RaceFlag,ClassFlag,PatternCount,FrequencyFlag,PatternID
0,0,2,6,10,744,19,1
1,0,2,6,11,198,18,2
2,0,2,7,10,543,19,3
3,0,2,7,11,414,19,4
4,0,2,8,10,764,19,5

In [22]:
df5 = pd.merge(df3, df4, how = 'left', left_on = ['GuildFlag','LevelFlag','RaceFlag','ClassFlag'], right_on = ['GuildFlag','LevelFlag','RaceFlag','ClassFlag'])

In [23]:
df5 = df5[['GuildFlag','LevelFlag','RaceFlag','ClassFlag','FrequencyFlag','PatternID']]

In [24]:
df5.to_csv("test1.csv", sep=',', encoding='utf-8')